.intro-container {
    background:#000 ;
    color: white;
    padding: 80px 20px;    
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro-container p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.icon{
    font-size: 35px;
    color:blue;
}

@media screen and (max-width: 768px) {
  
.intro-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.intro-container p {
    font-size: 1rem;
    margin-bottom: 10px;
}
    
  }