@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover, a:focus {
  outline: none;
}

/*----*/

/* .back {
  padding: 50px 0 150px 0;
} */

.header{
  background: #353535;
  position: fixed;
  width: 100%;
  z-index: 1000; /* 적절한 값으로 조정 */
  transition: all 0.5s ease-in-out;
  font-family: Lato !important;
}
.row{
  width: 40%;
  display: flex; 
  justify-content: space-between;
  margin: 0 auto;
}
.myname{
  color: rgba(255, 255, 255, 0.8);
}
.myname h3{
  margin-top: 10px;
}

.menu{
  display: flex;
  list-style: none;
  margin: 0;
}

.menu li{
 padding: 5px 25px;
 margin: 0;
}
.menu a {
  color: rgba(255, 255, 255, 0.8);
  font-family: Lato;
  font-size: 8pt;
  font-weight: 400;
  padding: 15px 25px;
  /**/
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.SMN_effect-6 a {
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.SMN_effect-6 a:before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 2px solid #c8a755;
  color: #c8a755;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.SMN_effect-6 a:hover:before, .SMN_effect-6 a:focus:before {
  max-width: 100%;
}

/* 
헤더 스크롤시 바뀌는 스타일 
*/
.change_header{
  transition: all 0.5s ease-in-out;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 1000; /* 적절한 값으로 조정 */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* 예시: 검은색(0,0,0), 투명도 0.5 */
}
.change_header .row{
  width: 40%;
  display: flex; 
  justify-content: space-between;
  margin: 0 auto;
}
.change_header .myname{
  color: #353535;
}
.change_header .menu{
  display: flex;
  list-style: none;
  margin: 0;
}

.change_header .menu li{
 padding: 5px 25px;
 margin: 0;
}
.change_header .menu a{ 
  color: #353535;
  font-family: Lato;
  font-size: 8pt;
  font-weight: 400;
  padding: 15px 25px;
  /**/
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.change_header .SMN_effect-6 a {
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.change_header .SMN_effect-6 a:before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 2px solid #c8a755;
  color: #c8a755;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.change_header .SMN_effect-6 a:hover:before, .SMN_effect-6 a:focus:before {
  max-width: 100%;
}

.icon_hamburger{
  color: white;
  margin: 10px;
  display: none;
}

.menu2{
  display: none;
  width: 100%;
  transition: all 1s ease-in-out; 
  background: white;
}
.menu2 li:hover{
  background-color: #c8a755;
  
}
.menu2 li:hover a {
  color: white;
}
 .open{
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #headerBox{
    width: 100%;
  }
  .header {
    height: 55px;
  }
  .change_header{
    height: 55px;
  }
  .row{
    width: 95%;
    
    display: flex;
    justify-content: space-between;
  }
  
  .change_header .row{
    width: 95%;
    display: flex; 
    justify-content: space-between;
  }
  .change_header .menu{
    display: none;
  }
   .menu{
    display: none;
  }
  .icon_hamburger{
    display: block;

  }
  .change_header .icon_hamburger{
    display: block;
    color: #353535;
  }
  
}
