
#mypageBody{
    background-color:#f3f3f3 ;
    /* height: 100vh; */
}
.myContent{ 
    width: 60%;
    margin: 0 auto;
    padding-top: 60px ;
    /* background-color:red; */
    display: flex;
}
.list{
    font-size: 12px;
}
.list li{
    font-size: 12px;
    font-weight: 700;
    padding: 10px 15px;
}
.list li a:hover{
   border-bottom: 2px solid #FFA811;;
}
.userBody{
    width: 80%;
    margin-left: 40px;
    margin-bottom: auto;
}
.userContent{
    /* width: ; */
    background-color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.userprofile {
    display: flex;
}
#icon{
    font-size: 50px;
    margin-right: 10px;
}
.point{
    border-left: 2px solid #ccc;
    padding-left: 30px ;
}
.mypageBasket{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.mypageBasketContent{
    display: flex;
}
.mypageBasketContent div{
    margin-top: 30px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 600;
    text-align: start;
}
.myPageBtn{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.myPageBtn button{
    width: 100px;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #000;
    color: #f1f1f1;
    transition: all 0.5s;
}
.myPageBtn button:hover{
    background-color: #f1f1f1;
    color: #000;
    cursor: pointer;
}
@media all and (max-width:480px) {
    .myContent{
        width: 390px;
    }
    .list li{
        width: 100px;
    }
    .userBody{
        margin: 0;
    }
    .userContent{
        flex-direction: column;
    }
    .point{
        border: 0;
    }
    .mypageBasket{
        flex-direction: column;
    }
    .mypageBasketContent{
        font-size: 10px;
    }
    .mypageBasketContent div{
        margin: 0;
        text-align: center;
        padding-top: 15px;
    }
    
    .myPageBtn button{
        width: 100%;
    }
  }
